@charset "UTF-8";

/* Warnings, errors, other messages {{{ */

div.warning,
div.error {
	margin: 10px 0;
	padding: 5px;
	font-size: 12px;
	border-radius: 2px;
}

div.warning {
	background: #feb;
	border: 1px solid #cc6;
}

div.error {
	background: #ebb;
	border: 1px solid #c66;
}

div.warning p,
div.error p {
	line-height: 15px;
}

/*   Loading progressbar {{{ */

div.loading > div {
	width: 50%;
	max-width: 300px;
	margin: 50px auto;
}

div.loading > div p {
	margin: 5px auto;
}

div.loading .progress-container {
	position: relative;
	height: 8px;
	border: 1px solid #aaa;
	border-radius: 2px;
}
div.loading .progress-container .progressbar {
	position: absolute;
	left: 0;
	width: 0%;
	height: 100%;
	/*background: #6b1e0c;*/
	background: #aaa;
	box-shadow: 0 0 1px 1px rgba(255,255,255,0.2) inset;
}
div.loading .progress-container .progressbar.indeterminate {
	width: 20%;
	        animation: progress 1000ms 0 infinite alternate linear both;
	   -moz-animation: progress 1000ms 0 infinite alternate linear both;
	-webkit-animation: progress 1000ms 0 infinite alternate linear both;
}

@keyframes         progress { from { left: 0; } to { left: 80%; } }
@-webkit-keyframes progress { from { left: 0; } to { left: 80%; } }

/*   }}} */
/* }}} */
/* Level chooser {{{ */

.levelchooser {
	display: block;
	margin-bottom: 14px;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
	overflow: hidden;
}

.levelchooser li {
	display: block;
	float: left;
	width: 12.5%; /* Overridden by inline styling */
	padding: 4px;
	border: 1px solid #6b1e0c;
	border-left: none;
	line-height: 1.2;

	text-align: center;
	cursor: pointer;
	background: #6b1e0c;
	color: #fff;
	text-shadow: rgba(0,0,0,0.6) 1px 1px 1px;
	box-shadow: 0 0 3px 1px rgba(255,255,255,0.2) inset;
}

.levelchooser li:first-child {
	border-left: 1px solid #6b1e0c;
}

.levelchooser li:hover {
	background: #7b2e1c;
}

.levelchooser li.selected {
	background: #9b4e3c;
}

.levelchooser li.too-high {
	background: #8b4030;
	color: #999;
	text-shadow: none;
}

.levelchooser li.too-high:hover,
.levelchooser li.too-high.selected {
	background: #9b5e4c;
}

/* }}} */
/* Form {{{ */

form.haddock .disabled {
	color: #aaa;
}

/*   Form sections {{{ */

form.haddock section {
	margin-top:    4px;
	margin-bottom: 4px;
	border: 1px solid #6b1e0c;

	border-radius: 2px;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}

form.haddock section header {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #6b1e0c;

	cursor: default;
	background-color: #6b1e0c;
	box-shadow: 0 0 3px 1px rgba(255,255,255,0.2) inset;
	color: #ffffff;
	text-shadow: rgba(0,0,0,0.6) 1px 1px 1px;
}

form.haddock section header span.header-text {
	cursor: pointer;
}

form.haddock section header .togglebutton {
	cursor: pointer;
}

form.haddock section.dummy {
	border: 1px solid #323232;
}
form.haddock section.dummy header {
	background-color: #323232;
	border-bottom: 1px solid #323232;
}
form.haddock section.dummy header .togglebutton {
	visibility: hidden;
}

form.haddock section > .content {
	padding-left: 8px;
	padding-right: 8px;
}

/*   }}} */
/*   Control buttons {{{ */

form.haddock .parameter-buttons {
	padding-left: 6px;
	color: #aaa;
}

form.haddock .parameter-buttons i,
form.haddock .section-buttons i {
	cursor: pointer;
}

form.haddock .parameter-buttons i:hover {
	color: #222;
}

/*   }}} */
/*   Other form structure {{{ */

form.haddock .row {
	margin-top:    0;
	margin-bottom: 0;
	padding-top:    4px;
	padding-bottom: 4px;
	border-top: 1px solid #e0e0e0;
}

form.haddock .row:first-child {
	border-top: none;
}

form.haddock .row > label {
	display: block;
	float:   left;
	width: 40%;
	line-height:  25px;
}

form.haddock .row > .values {
	padding-left: 5px;
	border-left: 1px solid #ddd;
}

form.haddock .row > .values input,
form.haddock .row > .values select {
	margin-top: 1px;
	margin-bottom: 1px;
}

/*   }}} */
/*   Form elements {{{ */

form.haddock .documentation {
	margin-top: 8px;
	margin-bottom: 8px;

	font-style: italic;
}

form.haddock select {
	height: 23px;
}

form.haddock .checkgroup {
	padding-left: 8px;
}

form.haddock .checkgroup label {
	display: inline-block;
	min-width: 65px;
}

/*   }}} */

.formdata-links {
	margin-top: 20px;
}
.formdata-links ul {
	margin-top: 10px;
}

/* }}} */
