@charset "UTF-8";

div.warning,
div.error {
	margin: 10px 0;
	padding: 5px;
	font-size: 12px;
	border-radius: 2px;
}

div.warning {
	background: #eeb;
	border: 1px solid #cc6;
}

div.error {
	background: #ebb;
	border: 1px solid #c66;
}

.levelchooser {
	display: block;
	margin-bottom: 14px;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
	overflow: hidden;
}
.levelchooser li {
	display: block;
	float: left;
	width: 12.5%; /* Overridden by inline styling */
	padding: 4px;
	border: 1px solid #6b1e0c;
	border-left: none;

	text-align: center;
	cursor: pointer;
	background: #6b1e0c;
	color: #fff;
	text-shadow: rgba(0,0,0,0.6) 1px 1px 1px;
	box-shadow: 0 0 3px 1px rgba(255,255,255,0.2) inset;
}

.levelchooser li:first-child {
	border-left: 1px solid #6b1e0c;
}

.levelchooser li:hover {
	background: #7b2e1c;
}
.levelchooser li.selected {
	background: #9b4e3c;
}
.levelchooser li.too-high {
	background: #8b4030;
	color: #999;
	text-shadow: none;
}
.levelchooser li.too-high:hover,
.levelchooser li.too-high.selected {
	background: #9b5e4c;
}

form .documentation {
	margin-top: 8px;
	margin-bottom: 8px;

	font-style: italic;
}

form.nice section {
	margin-top:    4px;
	margin-bottom: 4px;
	border: 1px solid #6b1e0c;

	border-radius: 2px;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}

form.nice section > .content {
	padding-left: 8px;
	padding-right: 8px;
}

form.nice section header {
	display: block;
	padding: 5px;
	padding-left: 8px;
	border-bottom: 1px solid #6b1e0c;

	cursor: default;
	background-color: #6b1e0c;
	box-shadow: 0 0 3px 1px rgba(255,255,255,0.2) inset;
	color: #ffffff;
	text-shadow: rgba(0,0,0,0.6) 1px 1px 1px;
}
form.nice section header .togglebutton {
	cursor: pointer;
}
form.nice section header span.header-text {
	cursor: pointer;
}

form.nice .disabled {
	color: #aaa;
}

form.nice section.folded .content {
	/* display: none; Do this with JS instead */
}

form .row {
	border-top: 1px solid #e0e0e0;
}

form .row:first-child {
	border-top: none;
}

/* */
form.nice .row {
	margin-top: 0;
	margin-bottom: 0;
	padding-top:    4px;
	padding-bottom: 4px;
}


form.nice .row > .value input,
form.nice .row > .value select,
form.nice .row > .value .select2
{
	margin-top: 1px;
	margin-bottom: 1px;
}

form.nice .row > input,
form.nice .row > select,
form.nice .row > .select2
{
	margin-top: 1px;
	margin-bottom: 1px;
	display: block;
	float:   left;
}

form.nice select {
	height: 23px;
}

form.nice .checkgroup {
	padding-left: 8px;
}

form.nice .row .value {
	padding-left: 5px;
	border-left: 1px solid #ddd;
}


form.nice .row > label {
	display: block;
	float:   left;
	height: 25px;
	line-height: 25px;
}

/* */

form.nice .row > label {
	width: 40%;
}

form.nice .parameter-buttons {
	padding-left: 6px;
	color: #aaa;
}

form.nice .parameter-buttons i,
form.nice .block-buttons i
{
	cursor: pointer;
}

form.nice .parameter-buttons i:hover
{
	color: #222;
}

form.nice .checkgroup label {
	display: inline-block;
	min-width: 65px;
	/*
	max-width: 65px;
	*/
	/*
	width: 20%;
	overflow: hidden;
	text-overflow: ellipsis;
	*/
}
