<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='lib/html5shiv.js') }}"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/atomic.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	{% block page_includes -%}{% endblock -%}
</head>
<body>
{% block header -%}
<header>
	<p>
		<a href="{{ url_for('main.index') }}">Home</a>
	</p>
</header>
{% endblock -%}
<section class="content">
{% block content %}{% endblock -%}
</section>
<div class="height10"></div>
</body>
</html>
