{% extends "base.html" %}
{% block page_includes -%}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script>
	<script type="text/javascript">
		"use strict";
		var formLevels = [
			{% for level in accesslevels -%}
			'{{ level.name }}',
			{% endfor -%}
		];
		var formLevelIndex = '{{ accesslevel_index }}';
		var formLevel      = formLevels[formLevelIndex];
		var userLevel      = '{{ user_accesslevel_index }}';

		var Config = {
			hideDisabledComponents: true
		};
	</script>
{% endblock -%}
{% block content -%}
<section class="content-form">
	<header>
		<h1>HADDOCK Form</h1>
	</header>

	<noscript>
		<div class="warning">
			<p><i class="fa fa-warning"></i>
				JavaScript appears to be disabled in your browser. <br />
				This web application requires JavaScript to enable multiplication of input fields,
				section folding and form level selection, and will not work correctly without it.
				Please enable JavaScript support or use a different browser.
			</p>
		</div>
	</noscript>

	<ul class="levelchooser">
		{% for level in accesslevels %}
		<li class="level-{{ level.name }}
				{%- if level.name == accesslevels[accesslevel_index].name %} selected{% endif %}
				{%- if loop.index0 > user_accesslevel_index %} too-high{% endif %}"
				style="width: {{ 100 / (accesslevels | length) }}%"
				data-name="{{ level.name }}"
				data-index="{{ loop.index0 }}"
			>
			{{ level.label }}
		</li>
		{% endfor -%}
	</ul>

	<div class="levelwarning warning hidden"></div>

	<form id="haddockform" class="nice div60" method="post">
	{% for component in model recursive -%}
		<div class="row{% if component.accesslevel %} level-{{ component.accesslevel }}{% endif %}">
		{% if component.type == 'block' -%}
			{# Open a new block and loop recursively #}
			<section>
				<header>
					<i class="togglebutton float-right fa fa-fw fa-lg fa-angle-double-down"></i>
					{{ component.label }}
				</header>
				<div class="content">
					{{ loop(component.children) -}}
				</div>
			</section>
		{% elif component.type == 'parameter' -%}
			{# Label #}
			<label for="f_{{ component.name }}" title="[{{ component.accesslevel }}] ({{ component.datatype }}) {{ component.name }}">{{ component.label or component.name }}</label>
			{% if component.datatype == 'choice' -%}
				{# Render radio buttons or a dropdown depending on the amount of options #}
				{% if component.options | length > config.FRONTEND_RADIO_MAX -%}
					<select class="parameter" id="f_{{ component.name }}" name="{{ component.name }}" data-default="{{ component.default }}">
					{% for option in component.options -%}
						<option value="{{ option }}"{% if component.default == option %} selected{% endif %}>{{ option }}</option>
					{% endfor -%}
					</select>
				{% else -%}
					<div class="checkgroup" data-default="{{ component.default }}">
					{% for option in component.options -%}
						<input class="parameter" id="f_{{ component.name }}_{{ loop.index}}" value="{{ option }}" name="{{ component.name }}" type="radio"{% if component.default == option %} checked{% endif %} />
						<label for="f_{{ component.name }}_{{ loop.index}}">{{ option }}</label>
					{% endfor -%}
					</div>
				{% endif -%}
			{% else -%}
				{# Default to a normal text input #}
				{% if component.datatype == 'int' -%}
					{% set pattern = '\d*' -%}
				{% elif component.datatype == 'float' -%}
					{% set pattern = '[0-9.]*' -%}
				{% else -%}
					{% set pattern = '.*' -%}
				{% endif -%}
				<input class="parameter" id="f_{{ component.name }}" name="{{ component.name }}" type="text" value="{{ component.default }}" pattern="{{ pattern }}" data-default="{{ component.default }}" />
			{% endif -%}
		{% elif component.type == 'paragraph' -%}
			<p class="documentation">
				{{ component.text }}
			</p>
		{% endif -%}
		</div>
	{% endfor -%}
	<div class="align-center">
		<input type="submit" />
	</div>
	</form>
</section>
{% endblock %}
