{% extends "base.html" %}
{% block page_includes -%}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}" />
	<script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script>
	<script type="text/javascript">
		"use strict";
		var formLevels = [
			{% for level in accesslevels -%}
			'{{ level.name }}',
			{% endfor -%}
		];
		var formLevelIndex = {{ accesslevel_index }};
		var formLevel      = formLevels[formLevelIndex];
		var userLevel      = {{ user_accesslevel_index }};

		var Config = {
			hideDisabledComponents: true
		};

		var formComponents = {{ model | tojson | safe }};
	</script>
{% endblock -%}
{% macro render_buttonset(component) -%}
{# Renders the reset, add and remove buttons for a section or parameter -#}
{%- if component.type != 'section' -%}
<i title="Reset to default value ({{ component.default }})" class="reset fa fa-fw fa-undo
	{#-
		We do not allow entire sections to be reset with a single click.
		This could be supported actually, but I'd rather not implement it
		because one misclick could mean a lot of lost parameters and a lot of
		unhappy researchers.
	-#}
	{##} invisible
{#- #}"></i>
{%- endif -%}
<i class="minus fa fa-fw fa-minus
	{#- -#}
	{#-
		On page load we always generate the minimum amount of objects;
		The user shouldn't be able to remove anything they did not add themselves.
	-#}
	{##} invisible
	{#- -#}
"></i>{# -#}
<i class="plus fa fa-fw fa-plus
	{#- -#}
	{#- But we do need to check whether the user is allowed to add more stuff -#}
	{%- if not component.repeat or component.repeat_min == component.repeat_max -%}
		{##} invisible
	{%- endif -%}
	{#- -#}
"></i>{# -#}

{% endmacro -%}
{% block content -%}
<section class="content-form">
	<header>
		<h1>HADDOCK Form</h1>
	</header>

	<noscript>
		<div class="warning">
			<p><i class="fa fa-warning"></i>
				JavaScript appears to be disabled in your browser.<br />
				This web application requires JavaScript to enable multiplication of input fields,
				section folding and form level selection, and will not work correctly without it.
				Please enable JavaScript support or use a different browser.
			</p>
		</div>
	</noscript>

	<ul class="levelchooser">
		{% for level in accesslevels -%}
			{% set class = 'level-%s' | format(level.name) -%}
			{% if level.name == accesslevel_index -%}
				{% set class = class + ' selected' -%}
			{% endif -%}
			{% if loop.index0 > user_accesslevel_index -%}
				{% set class = class + ' too-high' -%}
			{% endif -%}
			<li{{ {
					'class':      class,
					'data-name':  level.name,
					'data-index': loop.index0,
					'style':      'width: %f%%' | format(100 / (accesslevels | length)),
					} | xmlattr }}>
				{{ level.label }}
			</li>
		{% endfor -%}
	</ul>

	<div class="levelwarning warning hidden"></div>

	<div class="align-center loading">
		<div>
			<p class="grey cursor-default">Loading form...</p>
		</div>
	</div>

	<form id="haddockform" class="nice div60 haddock hidden" method="post">
	<div class="align-center">
		<input type="submit" />
	</div>
	</form>
</section>
{% endblock %}
